PORT=5000

DATABASE_URL="postgresql://postgres:%2AK%40e%242%21eMtN%25pkb@db.frumrhogdtuawshkdqxr.supabase.co:5432/postgres?sslmode=require"

SUPABASE_URL="https://frumrhogdtuawshkdqxr.supabase.co"
SUPABASE_PUBLISHABLE_KEY="YOUR_PUBLISHABLE_KEY"
SUPABASE_SECRET_KEY="YOUR_SUPABASE_SECRET_KEY"

JWT_SECRET="YOUR_RANDOM_JWT_SECRET"

SANDBOX_MODE=true

FRONTEND_URL="https://daratopup-frontend1.vercel.app"
BACKEND_URL="https://daratopup-backend-1.onrender.com"

TELEGRAM_BOT_TOKEN="YOUR_BOT_TOKEN"
TELEGRAM_CHAT_ID="YOUR_CHAT_ID"
TELEGRAM_GROUP_CHAT_ID="YOUR_GROUP_CHAT_ID"

ABA_PAYWAY_API_URL="https://checkout-sandbox.ababank.com/api/payment-gateway/v1/payments/purchase"
ABA_PAYWAY_MERCHANT_ID="YOUR_MERCHANT_ID"
ABA_PAYWAY_API_KEY="YOUR_API_KEY"
